.btn {
    background-color: rgb(226, 96, 183);
    border: none;
    color: rgb(230, 213, 62);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 90px;
    min-height: 50;

}

.divWithButtons {
    margin: 5px;

}

.btn-disabled {
    background-color: rgb(230, 213, 62);
}

#inputShowScore {
    border: none;
    border-bottom: rgb(238, 15, 238) solid 1px;
}
.btn:hover {
    background-color: skyblue;
}
#inputShowScore:focus {
    outline: none;
    border-bottom: skyblue solid 1px;
}